/* FAQ Page details */

#faqSection {
  padding-top: 3em
}

#faqSectionWeAreHere {
  padding-top: 3em;
  background-color: white;
  > div {
    > header {
      > h2, p {
        color: black;
      }
      > hr {
        border-bottom: solid 2px black;
      }
    }
  }
}

#faqSectionApps {
  padding-top: 3em;
  background-color: #6D6875;
}

/* Google Maps */
#markerCenter {
  position: absolute;
  transform: translate(-50%, -50%);
}

#mapLogosWrapper {
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-evenly;

  >div {
    font-size: 10vh;
    cursor: pointer;
  }

  @include breakpoint('<=small') {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.features {
  >li{
    h3 {
      letter-spacing: _size(letter-spacing-alt);
      text-transform: uppercase;
      font-family: _font(family-title);
      font-weight: _font(weight-extrabold);
    }

    p {
      color: white
    }
  }
}