/* FAQ Page details */

#faqSection {
  padding-top: 3em
}

/* Google Maps */
#markerCenter {
  position: absolute;
  transform: translate(-50%, -50%);
}

#mapLogosWrapper {
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-evenly;

  >div {
    font-size: 10vh;
    cursor: pointer;
  }

  @include breakpoint('<=small') {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}