/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    padding: 0 1em 0 0;

    &:last-child {
      padding-right: 0 !important;
    }
  }

  &.major {
    padding: 1em 0;

    li {
      padding-right: 3.5em;

      @include breakpoint('<=small') {
        padding: 0 1em !important;
      }
    }
  }
}