/*
This file has specific classes that are available throughout the website, including components such as image carousels and spotlights.
It imports a scss file that acts as template for a page (tile_page.scss), components, layouts and page-specific styles (about_us or history, for example).
*/

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'fontawesome-all.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic');

//@import 'components/image-gallery';


// Breakpoint

	@include breakpoints((
		xxxlarge:   ( 2560px,  2100px ),
		xxlarge:   ( 1680px,  1900px ),
		xlarge:    ( 1281px,  1680px ),
		large:     ( 981px,   1280px ),
		medium:    ( 737px,   980px  ),
		small:     ( 481px,   736px  ),
        smaller:   ( 320px,   530px  ),
        xsmall:    ( null,    480px  ),
	));

// Reset.
// Based on meyerweb.com/eric/tools/css/reset (v2.0 | 20110126 | License: public domain)

	html, body, div, span, applet, object,
	iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
	pre, a, abbr, acronym, address, big, cite,
	code, del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var, b,
	u, i, center, dl, dt, dd, ol, ul, li, fieldset,
	form, label, legend, table, caption, tbody,
	tfoot, thead, tr, th, td, article, aside,
	canvas, details, embed, figure, figcaption,
	footer, header, hgroup, menu, nav, output, ruby,
	section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style:none;
	}

	blockquote,	q {
		quotes: none;

		&:before,
		&:after {
			content: '';
			content: none;
		}
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

	mark {
		background-color: transparent;
		color: inherit;
	}

	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	input, select, textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	// Set box model to border-box.
	// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
		html {
			box-sizing: border-box;
		}

		*, *:before, *:after {
			box-sizing: inherit;
		}

	body, .main-body {
		background: _palette(bg);

		// Stops initial animations until page loads.
			&.is-preload {
				*, *:before, *:after {
					@include vendor('animation', 'none !important');
					@include vendor('transition', 'none !important');
				}
			}

	}

	body, input, select, textarea{
		color: _palette(fg);
		font-family: _font(family);
		font-size: 15pt;
		font-weight: _font(weight);
		letter-spacing: _size(letter-spacing);
		line-height: 1.65em;

		@include breakpoint('<=xlarge') {
			font-size: 13pt;
		}

		@include breakpoint('<=large') {
			font-size: 12pt;
		}

		@include breakpoint('<=small') {
			font-size: 11pt;
			letter-spacing: _size(letter-spacing) * 0.5;
		}
	}

	a {
		@include vendor('transition', ('color #{_duration(transitions)} ease', 'border-bottom-color #{_duration(transitions)} ease'));
		border-bottom: dotted 1px;
		color: inherit;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	strong, b {
		color: _palette(fg-bold);
		font-weight: _font(weight-bold);
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 _size(element-margin) 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: _palette(fg-bold);
		font-weight: _font(weight-extrabold);
		letter-spacing: _size(letter-spacing-alt);
		line-height: 1em;
		margin: 0 0 (_size(element-margin) * 0.5) 0;
		text-transform: uppercase;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	h2 {
		font-size: 1.35em;
		line-height: 1.75em;
		font-family: _font(family-title);

		@include breakpoint('<=small') {
			font-size: 1.1em;
			line-height: 1.65em;
		}
	}

	h3 {
		font-size: 1.15em;
		line-height: 1.75em;

		@include breakpoint('<=small') {
			font-size: 1em;
			line-height: 1.65em;
		}
	}

	h4 {
		font-size: 1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.8em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 2px _palette(border);
		margin: (_size(element-margin) * 1.5) 0;

		&.major {
			margin: (_size(element-margin) * 2.25) 0;
		}
	}

	blockquote {
		border-left: solid 4px _palette(border);
		font-style: italic;
		margin: 0 0 _size(element-margin) 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: _palette(border-bg);
		border-radius: 3px;
		font-family: _font(family-fixed);
		font-size: 0.9em;
		letter-spacing: 0;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: _font(family-fixed);
		font-size: 0.9em;
		margin: 0 0 _size(element-margin) 0;

		code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

@mixin innerTile {
	> .inner {
		@include padding(4em, 0);
		margin: 0 auto;
		max-width: _size(inner);
		width: calc(100% - 6em);

		@include breakpoint(small) {
			@include padding(3em, 0);
			width: calc(100% - 3em);
		}
	}
}

@mixin wrapper($p) {
	background-color: _palette($p, bg);
	color: _palette($p, fg);

	// Basic

	strong, b {
		color: _palette($p, fg-bold);
	}

	h2, h3, h4, h5, h6 {
		color: _palette($p, fg-bold);
	}

	hr {
		border-color: _palette($p, border);
	}

	blockquote {
		border-color: _palette($p, border);
		white-space: pre-line;
	}

	code {
		background: _palette($p, border-bg);
	}

	// Section/Article

	header {
		p {
			color: darkgray;
		}

		&.major {
			h2, h3, h4, h5, h6 {
				border-color: _palette($p, border);
				text-align: center;
			}

			p {
				color: white;
				text-align: center;
			}
		}
	}

	// Form

	label {
		color: _palette($p, fg-bold);
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background-color: _palette($p, border-bg);
	}

	select {
		background-image: svg-url("<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'><path d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='#{_palette($p, border)}' /></svg>");

		option {
			color: _palette($p, fg-bold);
			background: _palette($p, bg);
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		& + label {
			color: _palette($p, fg);

			&:before {
				background: _palette($p, border-bg);
			}
		}

		&:checked + label {
			&:before {
				background: _palette($p, fg-bold);
				color: _palette($p, bg);
			}
		}
	}

	::-webkit-input-placeholder {
		color: _palette($p, fg-light) !important;
	}

	:-moz-placeholder {
		color: _palette($p, fg-light) !important;
	}

	::-moz-placeholder {
		color: _palette($p, fg-light) !important;
	}

	:-ms-input-placeholder {
		color: _palette($p, fg-light) !important;
	}

	.formerize-placeholder {
		color: _palette($p, fg-light) !important;
	}

	// Icon

	.icon {
		&.major {
			border-color: _palette($p, border);
		}
	}

	// List

	ul {
		&.alt {
			li {
				border-color: _palette($p, border);
			}
		}
	}

	// Table

	table {
		tbody {
			tr {
				border-color: _palette($p, border);

				&:nth-child(2n + 1) {
					background-color: _palette($p, border-bg);
				}
			}
		}

		th {
			color: _palette($p, fg-bold);
		}

		thead {
			border-color: _palette($p, border);
		}

		tfoot {
			border-color: _palette($p, border);
		}

		&.alt {
			tbody {
				tr {
					td {
						border-color: _palette($p, border);
					}
				}
			}
		}
	}

	// Button

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		box-shadow: inset 0 0 0 2px _palette($p, border);
		color: _palette($p, fg-bold);

		&:hover {
			background-color: _palette($p, border-bg);
		}

		&:active {
			background-color: _palette($p, border2-bg);
		}
	}

	// Features

	.features {
		li {
			@include breakpoint('<=small') {
				border-top-color: _palette($p, border);
			}
		}
	}

}

.wrapper-carousel {

	> .inner-carousel {
		margin: 0 auto;
		height: 80vh;

		@include breakpoint('<=xlarge') {
			height: 70vh;
		}

		@include breakpoint('<=large') {
			height: 60vh;
		}

		@include breakpoint('<=medium') {
			height: 50vh;
		}

		@include breakpoint('<=small') {
			height: 30vh;
		}
	}

	> .inner {
		width: 60em;
		margin: 0 auto;

		@include breakpoint('<=large') {
			width: 90%;
		}

		@include breakpoint('<=medium') {
			width: 100%;
		}
	}

	&.alt {
		padding: 0;
	}

	&.style1 {
		@include wrapper(accent1);
	}

	&.style2 {
		background-color: _palette(bg);
	}

	&.style3 {
		@include wrapper(accent5);
	}

	&.style4 {
		background-color: transparent;
	}

	&.style5 {
		@include wrapper(accent7);
	}

	@include breakpoint('<=small') {
		padding: 3em 0 0 0;
	}
}

.carousel-image {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	background-position: center;
}

// Spotlight sections
.no-pad {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.spotlight {
	background-color: white;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding-top: 30px;
	padding-bottom: 20px;

	.image {
		@include vendor('order', '1');
		border-radius: 0;
		width: 40%;

		img {
			border-radius: 0;
			width: 100%;
		}
	}

	// This spotlight container is only used for spotlights that use Lottie
	.spotlight-container {
		display: flex;
		flex-direction: row;

        // Center the text in row and make it fill up the div container
        .center-row {
          height: 100%;
          text-align: center;
        }

        // To center content in each column
		.center-col {
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
		}
	}

	.content {
		@include padding(2em, 4em);
		@include vendor('order', '2');
		max-width: 48em;
		width: 60%;
	}

	&#staySpotlight {
		background-color: _palette(accentTile2);
	}

	&:nth-child(2n) {
		@include vendor('flex-direction', 'row-reverse');
	}

	@include breakpoint('<=large') {
		.image {
			width: 45%;
		}

		.content {
			width: 55%;
		}
	}

	@include breakpoint('<=medium') {
		display: block;

		br {
			display: none;
		}

		.image {
			width: 100%;
		}

		.content {
			@include padding(4em, 3em);
			max-width: none;
			text-align: center;
			width: 100%;
		}
	}

	@include breakpoint('<=small') {
		.content {
			@include padding(3em, 2em);
		}
	}
}

// Components
	@import 'components/icon';
	@import 'components/icons';

// Layout

	@import 'layout/menu';
	@import 'layout/header';
	@import 'layout/banner';
	@import 'layout/footer';

// Pages

	@import 'pages/landing';
	@import 'pages/notfound';
	@import 'pages/tile_page';
	@import 'pages/history';
	@import 'pages/faq';
	@import 'pages/about_us';
	@import 'pages/wine';
	@import 'pages/photo-gallery';






